.git
.idea
.vscode

**/target
**/build
**/dist
**/node_modules
**/.angular
**/.cache
**/coverage

backend/data
backend/src/main/resources/static

*.log
*.jar
*.war
*.zip
*.tar.gz

.env
.env.*
*.local
*.key
*.pem
